---
import offices from './officesData'

const defOff = offices[0] // default visible office
---

<div class="header-select-office">
  <div class="header-select-column">
    <label for="office-select" class="header-title">Пункты приёма документов:</label>
    <div class="office-select-container">
      <select id="office-select">
        <optgroup label="Саратов">
          {
            offices.map((i) => (
              <option value={i.id} label={i.address}>
                {i.address}
              </option>
            ))
          }
        </optgroup>
      </select>
      <span class="custom-office-select-arrow"></span>
    </div>
  </div>

  <div id="default-office" class="office-info visible-flex-col">
    <a href={defOff.phoneUrl}>{defOff.phone}</a>
    <pre>{defOff.working}</pre>
  </div>
  {
    offices.map((i) => (
      <div id={i.id} class="office-info hidden">
        <a href={i.phoneUrl}>{i.phone}</a>
        <pre>{i.working}</pre>
      </div>
    ))
  }
</div>

<script>
  ;(document.getElementById('office-select') as HTMLOptionElement).value = 'volskaya'
  ;(document.getElementById('office-select') as HTMLSelectElement).addEventListener('change', () => {
    let defaultOff = document.getElementById('default-office') as HTMLDivElement | null
    if (defaultOff) {
      defaultOff.remove()
    }

    const select = document.getElementById('office-select') as HTMLSelectElement
    const value: string = select.value

    ;(document.querySelectorAll('.office-info') as NodeListOf<HTMLDivElement>).forEach((elem: HTMLDivElement): void => {
      const isChoise: boolean = elem.id === value

      const refreshVisible = () => {
        if (isChoise) {
          elem.classList.remove(...elem.classList)
          elem.classList.add('office-info', 'visible-flex-col')
        } else {
          elem.classList.remove(...elem.classList)
          elem.classList.add('office-info', 'hidden')
        }
      }

      refreshVisible()
    })
  })
</script>
