---
import offices from "./officesData"


---

<script>
  import offices from "./officesData"

  const officesIDArr = offices.map(i => i.id) // officesID[]
  

  const select = document.getElementById("select");
  select?.addEventListener('change', () => {})

  const displayInfo = () => {
  

    const officeHTML = document.getElementsByClassName('office-info')



  //     // Проверяем тот ли это элемент который нам нужен
  // if(target.classList.contains('menu__item')) {
  //   for(let i = 0; i < menuItem.length; i++) {
  //     // Убираем у других
  //     menuItem[i].classList.remove('active');
  //   }
  //   // Добавляем тому на который нажали
  //   target.classList.add('active');
  }


</script>


<div class="offices-component">
  <h2>Пункты приёма документов</h2>
  <div class="offices-container">
    <div class="select-container">
      <select id="select">
        {offices.map((i)=> <option value={i.id}> {i.name} </option> )}
      </select>
      <span class="select-arrow"></span>
    </div>
    {offices.map((i) => 
      <div id={i.id} class='office-info'>
        <a href={i.phoneUrl}>{i.phone}</a>
        <p>{i.address}</p>
        <pre>{i.working}</pre>
      </div>
    )}
  </div>
</div>

<style>

  .offices-component h2 {
    font-size: 0.9rem;
  }

  .offices-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .select-container {
    position: relative;
    border-right: 1px solid black;
    padding: 0.5rem 1rem 0.5 0;
  }

  select {
    padding: 0 1rem 0 0;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
  }

  .select-arrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-color: blue;
  }

  .select-arrow::after {
    /* z-index: 1;
    --size: 1rem;
    content'';
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid violet;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem; */
  }

  .office-info {
    display: none
    padding: 0 1rem;
  }



  .office-info p,
  .office-info a,
  .office-info pre {
    font-size: 0.7rem;
  }

</style>